/* @keyframes fadeIn {
    from { filter: none;}
    to { filter: invert();}
}
@keyframes fadeOut {
    0%{ filter: invert();}
    100% { filter: none;}
} */
:root {
  --correct-color:rgb(61, 197, 61);
  --wrong-color: rgb(75, 32, 32);
  --correct-color-text: black;
  --wrong-color-text: yellow;
  --selected-color: #d0b000;
}
#loadOther:hover {
  cursor: pointer;
  font-weight: 900;
}
#extraControls{
  display: flex;
  flex-direction: column;
  max-width: 15vw;
  align-items: stretch;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-indent: 1px;
  text-overflow: ''; */
}
@keyframes fadeIn {
    from { filter: none;}
    to { filter:  drop-shadow(5px 5px 1px #f08000);}
}
@keyframes fadeOut {
    0%{ filter: drop-shadow(5px 5px 1px #f08000)}
    100% { filter: none;}
} 

@keyframes clickIn {
    from { background: #333;color: #ddd;}
    to {    background: var(--selected-color); color: black;}
}
@keyframes clickOut {
    0%{     background: var(--selected-color); color: black; }
    100% { background: #333;color: #ddd;}
} 



body {
    background: #222;
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#question-image {
    max-width: 100%;
    width: auto;
}
iframe {
    position: absolute;
    bottom: 0%;
    left: 0%;
    opacity: 20%;
    z-index: 0;
}
#root {
    position: absolute;
    width: 98vw;
    height: 98vh;
}

#testBox {
    padding: 1%;
    position: absolute;
    background: #bbbbff;
    background: linear-gradient(54deg, rgba(68,63,156,1) 0%, rgba(60,131,247,1) 100%);
    max-width: 70%;
    min-width: 50%;
    min-height: 30%;
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
}
#testBody  td {
    list-style-type: none;
    margin: 50px;

    background: #333;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    /* animation: fadeOut 0.5s; */
    cursor: pointer;
    transition: filter  0.5s, background 0.3s, color 0.3s;
    filter: none;
}

#testBody td:hover {
    /* animation: fadeIn 0.5s; */
    transition: 0.5s filter drop-shadow(5px 5px 1px #f08000) ;
    -moz-transition: 1s drop-shadow(5px 5px 1px #f08000);
    filter: drop-shadow(0px 0px 0.5rem #f08000);

}
#answer {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#question {
  text-align: justify;
}
#testBody {
    width: 100%;
    border-spacing: 10px;
}
#buttonBox {
    position: relative;
    left: 50px;
}
input.ans {
    pointer-events: none;
}
#question-image-error:not(:empty) {
    background:var(--wrong-color);
    padding: 5px;
    border-radius: 10px;
}

#filePrompt {
  position: absolute;
  z-index: 1000;
  background: slateblue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}
#fileList > li {  
  text-decoration: underline;
  margin-bottom: 5px;
}
#fileList > li:hover {  
  color: blue;
  cursor: pointer;
}

#testBody td:not(:has(> input[type="checkbox"]:checked)){
    /* animation: clickOut 0.5s; */
    transition: 1s background #333, color #ddd;
}

#testBody td:has(> input[type="checkbox"]:checked){
    background: var(--selected-color);
    color: cyan;
    text-decoration: underline;
    /* animation: clickIn 0.5s; */
    
    transition: background 0.5s, color 0.5s; ;
  }
  input[type="checkbox"] {

    display: none;
  }


  .infoBox{
    position: relative;
    max-width: 98%;
    background-color: lightblue;
    color: #333;
    border-radius: 5px;
    padding: 10px;
  }
  .infoBox:has(> p:empty){
    display: none;
  }
  #commentContent{
    display: inline-block
  }

.flex-element {
  flex: 25%;
  width: 100%;
  flex-grow: 1;
}



  #soundtrackBox {
    width: 100%;
  }

#f {
  width: 100%;
}

#soundtrack-input{
  width: 100%;
}

#hardcoreBox {
    border-radius: 10px;
    padding: 5px;
    background: rgb(43,43,46);
    cursor: pointer;
    text-align: center; 
    background: linear-gradient(54deg, rgba(43,43,46,1) 0%, rgba(109,115,125,1) 100%);
}
#hardcoreBox.hardcore {
    background: rgb(154, 26, 21);
    background: linear-gradient(54deg, rgba(186,1,0,1) 0%, rgba(221,109,37,1) 70%, rgba(224,0,0,1) 100%);
}
#overviewBox {
  border-radius: 10px;
  padding: 5px;
  user-select: none;
  background: rgb(43,43,46);
  margin-top: 15px;
  cursor: pointer;

  text-align: center;
  background: linear-gradient(54deg, rgba(43,43,46,1) 0%, rgba(109,115,125,1) 100%);
}
#overviewBox.hardcore {
  background: rgb(76, 224, 7);
  background: linear-gradient(54deg, rgb(193, 206, 193) 0%, rgb(107, 216, 35) 70%, rgb(12, 180, 6) 100%);


}
@media (orientation: portrait){
        input.button-63::file-selector-button {
            font-size: 2.5em;
            
            min-height: 5em;
        }

        #extraControls {
          flex-direction: row;
          flex: 50%;
          
          max-width: 100%;
          
        }
        #hardcoreBox,
        #extraControls button {
          font-size: 2.5em;
          min-height: 5em;
          
        }
        #root{
          /* display: flex; */
          flex-direction: column;
        }
        #testBox {
            flex: 50%;
            padding: 1%;
            position: static;
            
            background: #bbbbff;
            background: linear-gradient(54deg, rgba(68,63,156,1) 0%, rgba(60,131,247,1) 100%);
            width: 98%;
            top:auto;
            max-width: 98%;
            min-height: 30%;
            max-height: 100%;
            left: 0%;
            
            transform: translate(0%, 0%);
            border-radius: 20px;
            font-size: 2.5em;
        }
        #buttonBox
        {
            width: 70vw;
            
        }

        .button-52{
          min-height: 5em;
          
        }

        .button-77{
            font-size: 30px;
            padding: 7%;

        }
    }

#review {
  /* max-width: 200px; */
  margin-right: 5px;
  margin-bottom: 10px;
}

#review
#uploadPrompt,
#counter,
#hardcoreBox,
#soundtrackBox,
button{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

