/* @keyframes fadeIn {
    from { filter: none;}
    to { filter: invert();}
}
@keyframes fadeOut {
    0%{ filter: invert();}
    100% { filter: none;}
} */

@keyframes fadeIn {
    from { filter: none;}
    to { filter:  drop-shadow(5px 5px 1px #f08000);}
}
@keyframes fadeOut {
    0%{ filter: drop-shadow(5px 5px 1px #f08000)}
    100% { filter: none;}
} 

@keyframes clickIn {
    from { background: #333;color: #ddd;}
    to {    background: #d0b000; color: black;}
}
@keyframes clickOut {
    0%{     background: #d0b000; color: black; }
    100% { background: #333;color: #ddd;}
} 



body {
    background: #222;
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#question-image {
    max-width: 100%;
    width: auto;
}
iframe {
    position: absolute;
    bottom: 0%;
    left: 0%;
    opacity: 20%;
}
#root {
    position: absolute;
    width: 98vw;
    height: 98vh;
}

#testBox {
    padding: 1%;
    position: absolute;
    background: #bbbbff;
    background: linear-gradient(54deg, rgba(68,63,156,1) 0%, rgba(60,131,247,1) 100%);
    max-width: 70%;
    min-width: 50%;
    min-height: 30%;
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
}
#testBody  td {
    list-style-type: none;
    margin: 50px;

    background: #333;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    animation: fadeOut 0.5s;

    filter: none;

}

#testBody td:hover {
    animation: fadeIn 0.5s;
    filter: drop-shadow(0px 5px 2px #f08000);
}
#testBody {
    width: 100%;
    border-spacing: 10px;
}
#buttonBox {
    position: relative;
    left: 50px;
}
.ans {
    pointer-events: none;
}
#question-image-error:not(:empty) {
    background:red;
    padding: 5px;
    border-radius: 10px;
}
#testBody td:not(:has(> input[type="checkbox"]:checked)){
    animation: clickOut 0.5s;
}

#testBody td:has(> input[type="checkbox"]:checked){
    background: #d0b000;
    color: black;
    text-decoration: underline;
    animation: clickIn 0.5s;
  }
  input[type="checkbox"] {

    display: none;
  }


  #commentBox{
  position: relative;
  max-width: 98%;
  background-color: lightblue;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  }
  #commentBox:has(> p:empty){
    display: none;
  }
  #commentContent{
    display: inline-block
  }
  /* CSS */
  .button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  #soundtrack-input{
    width: 100%;
  }
  .button-52 {
    margin-top:10px;
    width: 100%;
    background: linear-gradient(to bottom right, #690315, #b50881);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-52:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(199, 54, 6, 0.5);
  }
  
  .button-52:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(223, 67, 5, 0.5);
  }


/* CSS */
input.button-63::file-selector-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  justify-content: center;
  line-height: 0.25em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 20px;
}

input.button-63::file-selector-button:active,
input.button-63::file-selector-button:hover {
  outline: 0;
}
#hardcoreBox {
    border-radius: 10px;
    padding: 5px;
    background: rgb(43,43,46);
    max-width: 10vw;
    text-align: center;
    background: linear-gradient(54deg, rgba(43,43,46,1) 0%, rgba(109,115,125,1) 100%);
}
#hardcoreBox.hardcore {
    background: rgb(154, 26, 21);
    background: linear-gradient(54deg, rgba(186,1,0,1) 0%, rgba(221,109,37,1) 70%, rgba(224,0,0,1) 100%);


}
@media (max-width: 600px) {
    @media (orientation: portrait){
        input.button-63::file-selector-button {
            font-size: 24px;
            min-width: 196px;
        }
        #testBox {
            padding: 1%;
            position: absolute;
            background: #bbbbff;
            background: linear-gradient(54deg, rgba(68,63,156,1) 0%, rgba(60,131,247,1) 100%);
            width: 98%;
            max-width: 98%;
            min-height: 30%;
            max-height: 90%;
            left: 0%;
            top: 15%;
            transform: translate(0%, 0%);
            border-radius: 20px;
            font-size: 16px;
        }
        #buttonBox
        {
            width: 50vw;
        }
        .button-62{
            font-size: 14px;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}
#uploadPrompt,
#counter,
#hardcoreBox,
#soundtrackBox,
button{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }